<div class="col-md-6 col-md-offset-3">
	<h1>Hi {{loggedInUser.firstName}} {{loggedInUser.lastName}}!</h1>
	<p>You're logged in with the MEAN Stack & Angular 2!!</p>
	<h3>All registered users:</h3>
	<ul>
		<li *ngFor="let user of users">
			<a (click)="getUserDetails(user)">{{user.firstName}} {{user.lastName}}</a> -
			<a (click)="updateUser(user)">Update</a> -
			<a (click)="deleteUser(user._id)">Delete</a>
		</li>
	</ul>
	<p>
		<a [routerLink]="['/login']">Logout</a>
	</p>
</div>